<div class="content" style="margin:2%">

  <div class="row">
    <div>
      <div class="d-flex justify-content-center">
        <button pButton pRipple type="button" label="Aprobar Objetivos" (click)="confirm1()"
          class="p-button-success"></button>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <br>
    <div class="row">
      <div class="col-sm">
        <label for="concepto">Empleado:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="empleado.nombre">
        </div>
      </div>
      <div class="col-sm">
        <label for="descripcion">Núm. de empleado:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="empleado.noEmpleado">
        </div>
      </div>
      <div class="col-sm">
        <label for="email">Proyecto:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="empleado.proyecto">
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm">
        <label for="descripcion">Dirección Ejecutiva:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="empleado.direccionEjecutiva">
        </div>
      </div>
      <div class="col-sm">
        <label for="concepto">Unidad de Negocio:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="empleado.unidadDeNegocio">
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
    <br>

    <div class="">
      <br>
      <div class="row">
        <div class="col-sm" *ngFor="let tipo of tiposTablasObjGenerales; let i = index;">
          <ng-container *ngIf="tipo == tiposTablasObjGenerales[0]">
            <div class="card">
              <h5><strong>{{tipo}}</strong></h5>
              <!-- [tableStyle]="{'min-width': '50rem'}" -->
              <p-table [value]="listObjGenralesTipoUno">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Descripción</th>
                    <th>Meta</th>
                    <th>Porcentaje</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-obj>
                  <tr>
                    <td pTooltip="{{obj.tooltip}}" tooltipPosition="top">{{obj.descripcion}}</td>
                    <td>{{obj.meta}}</td>
                    <td>{{obj.valor}}%</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
          <ng-container *ngIf="tipo == tiposTablasObjGenerales[1]">
            <div class="card">
              <h5><strong>{{tipo}}</strong></h5>
              <!-- [tableStyle]="{'min-width': '50rem'}" -->
              <p-table [value]="listObjGenralesTipoDos">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Descripción</th>
                    <th>Meta</th>
                    <th>Porcentaje</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-obj>
                  <tr>
                    <td pTooltip="{{obj.tooltip}}" tooltipPosition="top">{{obj.descripcion}}</td>
                    <td>{{obj.meta}}</td>
                    <td>{{obj.valor}}%</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <h5><strong>CUALITATIVOS</strong></h5>
            <p-table [value]="listObjetivos" [tableStyle]="{'min-width': '50rem'}">
              <ng-template pTemplate="header">
                <tr>
                  <th>Descripción</th>
                  <th>Meta</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-obj>
                <tr>
                  <td>{{obj.descripcion}}</td>
                  <td>{{obj.meta}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
