.container-table {
  margin-bottom: 2rem;
  overflow-x: scroll;
  padding: 0;
  /* width: 100%; */
}

.cls-id {
  font-size: .6rem;
  word-wrap: break-word;
  width: 100px;
}

.cls-desc {
  width: 250px;
}