<form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="dias">Días:</label>
                <input 
                    id="dias"
                    pInputText
                    class="form-control" 
                    maxlength="50" 
                    formControlName="dias"
                    [ngClass]="{'ng-invalid ng-dirty': esInvalido('dias')}"
                >
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="dias">Sábados feriados:</label>
                <p-calendar 
                    [readonlyInput]="true"
                    [style]="{width: '100%'}"
                    placeholder="Seleccionar un mes..."
                    appendTo="body"
                    [minDate]="fechaMinima"
                    [maxDate]="fechaMaxima"
                    [disabledDates]="fechasDeshabilitadas"
                    [monthNavigator]="false" 
                    [yearNavigator]="false"
                    selectionMode="multiple"
                    formControlName="sabados"
                    [defaultDate]="fechaMinima"
                ></p-calendar>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-info" (click)="guardar()" [disabled]="!form.valid">Guardar</button>
            </div>
        </div>
    </div>
</form>