
<div class="content" style="margin:2%">
  <br>
  <br>

  <div class="">
    <br>
    <div class="row">
      <div class="col-sm">
        <label for="concepto">Empleado:</label>
        <div class="">
          <p-dropdown [options]="empleadosSub" placeholder="Seleccionar empleado"
            optionLabel="name" [showClear]="true" [style]="{'width': '100%'}" (onChange)="onChangeEmpleado($event)"></p-dropdown>
        </div>
      </div>
      <div class="col-sm">
        <label for="descripcion">Núm. de empleado:</label>
        <div class="">
          <!-- <p-dropdown [options]="objetivos" [(ngModel)]="selectedObjetivo" placeholder="Selecciona el objetivo"
            optionLabel="name" [showClear]="true" [style]="{'width': '100%'}" [disabled]="isConsulta"></p-dropdown> -->
            <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.numEmpleado">
        </div>

      </div>
      <div class="col-sm">
        <label for="email">Proyecto:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.proyecto">
        </div>
      </div>
    </div>
    <br>

  </div>

  <ng-container *ngIf="isObjetivos">

    <div class="">
      <br>
      <div class="row">
        <div class="col-sm">
          <label for="concepto">Unidad de Negocio:</label>
          <div class="">
            <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.unidadNegocio">
          </div>
        </div>
        <div class="col-sm">
          <label for="descripcion">Concepto:</label>
          <div class="">
            <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.concepto">
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
      <br>

      <div class="card">
        <h5></h5>
            <p-table [value]="listObjetivos" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                      <th style="width:20%">Empleado</th>
                        <th style="width:40%">Descripción</th>
                        <th style="width:40%">Meta</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="product">
                      <td>
                        {{product.empleado}}
                      </td>
                        <td>
                          {{product.descripcion}}
                            <!-- <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.descripcion">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.descripcion}}
                                </ng-template>
                            </p-cellEditor> -->
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.meta" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.meta}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

  </ng-container>
</div>
<p-toast></p-toast>
