
<h1>Etapas</h1>

<p>Duración del proyecto en meses: <strong>{{duracionMeses}}</strong></p>

<form [formGroup]="etapaForm" (ngSubmit)="agregarEtapa()">
  <div class="grid mb-2">
    <div class="col">
      <div class="flex justify-content-between gap-3 p-fluid">
        <div class="flex-auto">
          <input type="text" pInputText formControlName="etapa" class="form-control" placeholder="Escribe el nombre de la etapa..."/>
        </div>
        <button class="btn btn-info" type="submit" [disabled]="!etapaForm.valid">Agregar</button>
      </div>
    </div>
  </div>
</form>

<div class="text-center" *ngIf="etapasCampos.length === 0; else tablaEtapas">
  <p>Agregue al menos una etapa para comenzar.</p>
</div>

<!-- <ng-template #tablaEtapas>
  <p-table [value]="etapas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
          <th>Descripción de la etapa</th>
          <th>Meses</th>
          <th>Borrar</th>
          <th *ngFor="let mes of meses">
            {{mes}}
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-etapa>
        <tr>
            <td>{{ etapa.nombre }}</td>
            <td>{{ etapa.totalMeses }}</td>
            <td>
              <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (onClick)="borrarEtapa(etapa)"></p-button>
            </td>
            <td *ngFor="let mes of etapa.meses; index as i">
              <p-button 
                [icon]="mes ? 'pi pi-check' : 'pi pi-minus'" 
                [styleClass]="mes ? 'p-button-success' : 'p-button-secondary'"
                (onClick)="toggleOpcion(etapa, i)"
              ></p-button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</ng-template> -->

<ng-template #tablaEtapas>

  <div class="add-empleadosCampos-form" [formGroup]="formEtapas">
    <ng-container formArrayName="etapasCampos">
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="etapasCampos.controls">
      <ng-template pTemplate="header">
        <tr>
            <th>Descripción de la etapa</th>
            <th class="text-center">Meses</th>
            <th class="text-center">Marcar por fecha</th>
            <th class="text-center">Borrar</th>
            <th 
              *ngFor="let mes of meses"
              class="text-center"
            >
              {{mes}}
            </th>
        </tr>
      </ng-template>
          <ng-template pTemplate="body" let-empleadoForm let-i="rowIndex">
            <tr [formGroupName]="i">
              <td>{{ etapasCampos.value[i].nombre }}</td>
              <td class="text-center">{{ etapasCampos.value[i].totalMeses }}</td>
              <td class="text-center">
                <p-button icon="pi pi-calendar" styleClass="p-button-rounded p-button-info" (onClick)="marcarPorFecha(i)"></p-button>
              </td>
              <td class="text-center">
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (onClick)="borrarEtapa(i)"></p-button>
              </td>
              <td 
                *ngFor="let mes of meses; index as iMes"
                class="text-center"
              >
                  <p-checkbox
                    formControlName="{{iMes}}" 
                    [binary]="true"
                    inputId="binary"
                    (onChange)="toggleOpcion(i, iMes)"
                  ></p-checkbox>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </ng-container>
  </div>

</ng-template>

<hr>

<h1>Empleados</h1>

<div class="add-empleadosCampos-form" [formGroup]="form">
  <ng-container formArrayName="empleadosCampos">
  <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="empleadosCampos.controls">
    <ng-template pTemplate="header">
      <tr>
          <th>Número de empleado RRHH</th>
          <th>Nombre</th>
          <th>Posición</th>
          <th>Meses</th>
          <th>Borrar</th>
          <th *ngFor="let mes of meses">
            {{mes}}
          </th>
      </tr>
    </ng-template>
        <ng-template pTemplate="body" let-empleadoForm let-i="rowIndex">
          <tr [formGroupName]="i">
            <td>
              <a 
                class="text-success font-bold"
                [routerLink]="['/empleados/edicion-empleado', empleados[i].cod]"
              >
                {{empleados[i].cod}}
              </a>
            </td>
            <td>{{empleados[i].nombre}}</td>
            <td>{{empleados[i].posicion}}</td>
            <td>{{empleados[i].totalMeses}}</td>
            <td>
              <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (onClick)="borrarEmpleado(i)"></p-button>
            </td>
            <td *ngFor="let mes of meses; index as iMes">
              <span class="p-input-icon-right">
                <i class="pi pi-percentage"></i>
                <p-inputNumber
                  formControlName="{{iMes}}"
                  locale="es-MX" 
                  mode="decimal" 
                  [max]="100"
                  [maxFractionDigits]="2"
                  [maxlength]="3"
                  (onBlur)="sumarTotal(i, iMes, $event)"
                  class="custom-input-number"
                ></p-inputNumber>
              </span>
            </td>
          </tr>
        </ng-template>
    </p-table>
  </ng-container>
</div>

<button class="btn btn-info mt-5" (click)="agregarEmpleado()">
  Agregar empleado
</button>