<div class="content" style="margin:2%">
  <br>
  <br>

  <div class="">
    <br>
    <div class="row">
      <div class="col-sm">
        <label for="concepto">Empleado:</label>
        <div class="">
          <p-dropdown [options]="empleadosSub" placeholder="Seleccionar empleado" optionLabel="name" [showClear]="true"
            [style]="{'width': '100%'}" (onChange)="onChangeEmpleado($event)"></p-dropdown>
        </div>
      </div>
      <div class="col-sm">
        <label for="descripcion">Núm. de empleado:</label>
        <div class="">
          <!-- <p-dropdown [options]="objetivos" [(ngModel)]="selectedObjetivo" placeholder="Selecciona el objetivo"
            optionLabel="name" [showClear]="true" [style]="{'width': '100%'}" [disabled]="isConsulta"></p-dropdown> -->
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.noEmpleado">
        </div>

      </div>
      <div class="col-sm">
        <label for="email">Proyecto:</label>
        <div class="">
          <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.proyecto">
        </div>
      </div>
    </div>
    <br>

  </div>

  <ng-container *ngIf="isObjetivos">

    <div class="">
      <br>
      <div class="row">
        <div class="col-sm">
          <label for="descripcion">Dirección Ejecutiva:</label>
          <div class="">
            <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.direccionEjecutiva">
          </div>
        </div>
        <div class="col-sm">
          <label for="concepto">Unidad de Negocio:</label>
          <div class="">
            <input type="text" class="form-control" [disabled]="isConsulta" [(ngModel)]="subComple.unidadDeNegocio">
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
      <br>

      <ng-container>
        <div class="">
          <br>
          <div class="row">
            <div class="col-sm" *ngFor="let tipo of tiposTablasObjGenerales; let i = index;">
              <ng-container *ngIf="tipo == tiposTablasObjGenerales[0]">
                <div class="card">
                  <h5><strong>{{tipo}}</strong></h5>
                  <!-- [tableStyle]="{'min-width': '50rem'}" -->
                  <p-table [value]="listObjGenralesTipoUno">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Descripción</th>
                        <th>Meta</th>
                        <th>Porcentaje</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj>
                      <tr>
                        <td pTooltip="{{obj.tooltip}}" tooltipPosition="top">{{obj.descripcion}}</td>
                        <td>{{obj.meta}}</td>
                        <td>{{obj.valor}}%</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </ng-container>
              <ng-container *ngIf="tipo == tiposTablasObjGenerales[1]">
                <div class="card">
                  <h5><strong>{{tipo}}</strong></h5>
                  <!-- [tableStyle]="{'min-width': '50rem'}" -->
                  <p-table [value]="listObjGenralesTipoDos">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Descripción</th>
                        <th>Meta</th>
                        <th>Porcentaje</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj>
                      <tr>
                        <td pTooltip="{{obj.tooltip}}" tooltipPosition="top">{{obj.descripcion}}</td>
                        <td>{{obj.meta}}</td>
                        <td>{{obj.valor}}%</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

      </ng-container>
      <br>
      <br>

      <div class="card">
        <h5><strong>CUALITATIVOS</strong></h5>
        <p-table [value]="listObjetivos" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width:20%">Empleado</th> -->
              <th style="width:60%">Descripción</th>
              <th style="width:30%">Meta</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
              <!--  <td>
                {{product.empleado}}
              </td> -->
              <!-- <ng-container *ngIf="product.descripcion == 'Sustentabilidad?'">

              </ng-container>

              <ng-container *ngIf="product.descripcion != 'Sustentabilidad?'">

              </ng-container> -->


              <td pTooltip="{{product.tooltip}}" tooltipPosition="top">
                {{product.descripcion}}
                <!-- <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.descripcion">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.descripcion}}
                                </ng-template>
                            </p-cellEditor> -->
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="product.meta" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.meta}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(product)"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(product, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>

  </ng-container>
</div>
<p-toast></p-toast>
