<div class="content" style="margin:2%">
  <button type="button" class="btn btn-info" (click)="guardar()" [disabled]="isConsultaButons">Guardar</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-info" (click)="clear()" [disabled]="isConsultaButons">Clear data</button>

  <br>
  <br>

  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Datos del Empleado">
      <div class="">

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nunum_empleado_rr_hh:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">nukidpersona:</label>
            <p-dropdown
            placeholder=""
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidtipo_empleado:</label>
            <p-dropdown
            placeholder=""
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nukidcategoria:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidtipo_contrato:</label>
              <div class="col-12">
                <p-dropdown
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
              ></p-dropdown>
              </div>
          </div>
          <div class="col-sm">
            <label for="email">chcve_puesto:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nukidempresa:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidciudad:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidnivel_estudios:</label>
            <p-dropdown
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nukidforma_pago:</label>
            <p-dropdown
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidjornada:</label>
            <p-dropdown
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukiddepartamento:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nukidclasificacion:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidjefe_directo:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nukidunidad_negocio:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nukidtipo_contrato_sat:</label>
            <p-dropdown
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">nunum_empleado:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">dtfecha_ingreso:</label>
            <p-calendar [showIcon]="true" [style]="{'width':'100%', 'display': 'inline-flex','height':'39px'}"
            dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">dtfecha_salida:</label>
            <p-calendar [showIcon]="true" [style]="{'width':'100%', 'display': 'inline-flex','height':'39px'}"
            dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
          <div class="col-sm">
            <label for="email">dtfecha_ultimo_reingreso:</label>
            <p-calendar [showIcon]="true" [style]="{'width':'100%', 'display': 'inline-flex','height':'39px'}"
            dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
          <div class="col-sm">
            <label for="email">chnss:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">chemail_bovis:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">chexperiencias:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">chhabilidades:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">churl_repositorio:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">nusalario:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">chprofesion:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nuantiguedad:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">chturno:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">nuunidad_medica:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">chregistro_patronal:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">chcotizacion:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">nuduracion:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">boactivo:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">bodescuento_pension:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">nuporcentaje_pension:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nufondo_fijo:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">nucredito_infonavit:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">chtipo_descuento:</label>
            <input type="text" class="form-control" [disabled]="isConsulta">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">nuvalor_descuento:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">nuno_empleado_noi:</label>
            <input value="0" type="number" id="typeNumber" min="0" class="form-control"
            [disabled]="isConsulta" />
          </div>
          <div class="col-sm">

          </div>
        </div>

      </div>
    </p-accordionTab>
</p-accordion>


</div>
