<nav id="sidebar" style="height:1800px">
  <div class="sidebar-header">
    <h3 routerLink="">Bovis</h3>
  </div>

  <ul class="list-unstyled components">
    <p></p>

    <li routerLinkActive="active"  *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'nom' || rol == 'admin' || rol == 'rh' || rol == 'legal'">
      <a href="#Empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empleados</a>
      <ul class="collapse list-unstyled" id="Empleados">
        <li>
          <a routerLink="/empleados">Empleados</a>
        </li>
       <!--  <li>
          <a href="#">Opcion 2</a>
        </li>
        <li>
          <a href="#">Opcion 3</a>
        </li> -->
      </ul>
    </li>

    <li>
      <!-- <a href="#">About</a> -->
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'it' || rol == 'admfin' || rol == 'admin'">
      <a href="#pageTimesheet" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Timesheet</a>
      <ul class="collapse list-unstyled" id="pageTimesheet">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'it' || rol == 'admin'">
      <a href="#pageCostoEmpleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Costo de
        Empleados</a>
      <ul class="collapse list-unstyled" id="pageCostoEmpleados">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'eje' || rol == 'it' || rol == 'admfin' || rol == 'admin'">
      <a href="#pageCIE" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CIE</a>
      <ul class="collapse list-unstyled" id="pageCIE">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin' || rol == 'rh'">
      <a href="#pagePCS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PCS</a>
      <ul class="collapse list-unstyled" id="pagePCS">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'legal' || rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin'">
      <a href="#pageAUD" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AUDITORIA LEGAL</a>
      <ul class="collapse list-unstyled" id="pageAUD">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin' || rol == 'rh' || rol == 'legal'">
      <a href="#pageRep" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a>
      <ul class="collapse list-unstyled" id="pageRep">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'admfin' || rol == 'it' || rol == 'admin'" >
      <a href="#pageDor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dor</a>
      <ul class="collapse list-unstyled" id="pageDor">
        <li>
          <a routerLink="/dor">dor</a>
        </li>
       <!--  <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li> -->
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'it' || rol == 'admfin' || rol == 'admin'">
      <a href="#pageFac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Facturación</a>
      <ul class="collapse list-unstyled" id="pageFac">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="false">
      <a href="#pageUsers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">USUARIOS</a>
      <ul class="collapse list-unstyled" id="pageUsers">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="false">
      <a href="#pageCarga" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CARGA DE INFORMACIÓN</a>
      <ul class="collapse list-unstyled" id="pageCarga">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'rh'">
      <a href="#pageAdministración" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle">Administración</a>
      <ul class="collapse list-unstyled" id="pageAdministración">
        <li>
          <a href="#">Catalogos</a>
        </li>
        <!--  <li>
                <a href="#">Opción 2</a>
              </li>
              <li>
                <a href="#">Opción 3</a>
              </li> -->
      </ul>
    </li>

    <li>
      <!--  <a href="#">Services</a> -->
    </li>
    <li>
      <!-- <a href="#">Contact Us</a> -->
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <!--  <a href="#" class="download">Download code</a> -->
    </li>
    <li>
      <!-- <a href="#" class="article">article</a> -->
    </li>
  </ul>
</nav>
