<nav id="sidebar" style="height:1800px">
  <div class="sidebar-header">
    <h3 routerLink="">Bovis</h3>
  </div>

  <ul class="list-unstyled components">
    <p></p>
    {{accesos | json}}
    ----------
    {{_accesos | json}}
    <li routerLinkActive="active">
      <a href="#Empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empleados</a>
      <ul class="collapse list-unstyled" id="Empleados">
        <li>
          <a routerLink="/empleados">Empleados</a>
        </li>
        <li>
          <a href="#">Sistemas</a>
        </li>
        <li>
          <a href="#">Nomina</a>
        </li>
      </ul>
    </li>

    <li>
      <!-- <a href="#">About</a> -->
    </li>

    <li routerLinkActive="active">
      <a href="#pageTimesheet" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Timesheet</a>
      <ul class="collapse list-unstyled" id="pageTimesheet">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="#pageCostoEmpleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Costo de
        Empleados</a>
      <ul class="collapse list-unstyled" id="pageCostoEmpleados">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageCIE" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CIE</a>
      <ul class="collapse list-unstyled" id="pageCIE">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pagePCS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PCS</a>
      <ul class="collapse list-unstyled" id="pagePCS">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageAUD" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AUDITORIA LEGAL</a>
      <ul class="collapse list-unstyled" id="pageAUD">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageRep" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">REPORTES</a>
      <ul class="collapse list-unstyled" id="pageRep">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="#pageDor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dor</a>
      <ul class="collapse list-unstyled" id="pageDor">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>


    <li>
      <a href="#pageFac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">FACTURACIÓN</a>
      <ul class="collapse list-unstyled" id="pageFac">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageUsers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">USUARIOS</a>
      <ul class="collapse list-unstyled" id="pageUsers">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageCarga" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CARGA DE INFORMACIÓN</a>
      <ul class="collapse list-unstyled" id="pageCarga">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#pageAdministración" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle">Administración</a>
      <ul class="collapse list-unstyled" id="pageAdministración">
        <li>
          <a href="#">Catalogos</a>
        </li>
        <!--  <li>
                <a href="#">Opción 2</a>
              </li>
              <li>
                <a href="#">Opción 3</a>
              </li> -->
      </ul>
    </li>


    <li>
      <!--  <a href="#">Services</a> -->
    </li>
    <li>
      <!-- <a href="#">Contact Us</a> -->
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <!--  <a href="#" class="download">Download code</a> -->
    </li>
    <li>
      <!-- <a href="#" class="article">article</a> -->
    </li>
  </ul>
</nav>
