<nav id="sidebar" style="height:1000px; width:10px;">
  <div class="sidebar-header">
    <h3 routerLink="">Bovis</h3>
  </div>

  <ul class="list-unstyled components">
    <p></p>

    <li routerLinkActive="active"
      *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'nom' || rol == 'admin' || rol == 'rh' || rol == 'legal' || rol == 'dev'">


      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión_Empleados.png" pTooltip="Empleados" />
        </div>
        <div class="justify-content-end">
          <a href="#Empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
        </div>
      </div>
      <ul class="collapse list-unstyled" id="Empleados">
        <li>
          <a routerLink="/empleados" (click)="setModule('Empleados')">Empleados</a>
        </li>
      </ul>
    </li>

    <br>
    <!-- <li>
      <a href="#">About</a>
    </li> -->

    <li routerLinkActive="active"
      *ngIf="rol == 'nom' || rol == 'it' || rol == 'admfin' || rol == 'admin' || rol == 'dev'">
      <!-- <a href="#pageTimesheet" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Timesheet</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Timesheet.png" pTooltip="Timesheet" />
        </div>
        <div class="justify-content-end">
          <a href="#pageTimesheet" data-toggle="collapse" aria-expanded="false"></a>
          <!--  <a href="#pageTimesheet" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!--  <ul class="collapse list-unstyled" id="pageTimesheet">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>cdfsd
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'it' || rol == 'admin' || rol == 'dev'">
      <!-- <a href="#pageCostoEmpleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Costo de
        Empleados</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Costos.png" pTooltip="Costo de
            Empleados" />
        </div>
        <div class="justify-content-end">
          <a href="#pageCostoEmpleados" data-toggle="collapse" aria-expanded="false"></a>
          <!-- <a href="#pageCostoEmpleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!-- <ul class="collapse list-unstyled" id="pageCostoEmpleados">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'nom' || rol == 'eje' || rol == 'it' || rol == 'admfin' || rol == 'admin' || rol == 'dev'">
      <!--  <a href="#pageCIE" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CIE</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-CIE.png" pTooltip="CIE" />
        </div>
        <div class="justify-content-end">
          <a href="#pageCIE" data-toggle="collapse" aria-expanded="false"></a>
          <!-- <a href="#pageCIE" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!-- <ul class="collapse list-unstyled" id="pageCIE">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin' || rol == 'rh' || rol == 'dev'">
      <!-- <a href="#pagePCS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PCS</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-PCS.png" pTooltip="PCS" />
        </div>
        <div class="justify-content-end">
          <a href="#pagePCS" data-toggle="collapse" aria-expanded="false"></a>
          <!-- <a href="#pagePCS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!-- <ul class="collapse list-unstyled" id="pagePCS">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'legal' || rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin' || rol == 'dev'">
      <!-- <a href="#pageAUD" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AUDITORIA LEGAL</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Auditoria legal.png" pTooltip="AUDITORIA LEGAL" />
        </div>
        <div class="justify-content-end">
          <a href="#pageAUD" data-toggle="collapse" aria-expanded="false"></a>
          <!-- <a href="#pageAUD" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!-- <ul class="collapse list-unstyled" id="pageAUD">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'eje' || rol == 'it' || rol == 'eje' || rol == 'adminfin' || rol == 'admin' || rol == 'rh' || rol == 'legal' || rol == 'dev'">
      <!-- <a href="#pageRep" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Reporte.png" pTooltip="Reportes" />
        </div>
        <div class="justify-content-end">
          <a href="#pageRep" data-toggle="collapse" aria-expanded="false"></a>
          <!-- <a href="#pageRep" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a> -->
        </div>
      </div>
      <!-- <ul class="collapse list-unstyled" id="pageRep">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul> -->
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'admfin' || rol == 'it' || rol == 'admin' || rol == 'eje' || rol == 'dev'">
      <!-- <a href="#pageDor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dor</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-PEC.png" pTooltip="Dor" />
        </div>
        <div class="justify-content-end">
          <a href="#pageDor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
        </div>
      </div>
      <ul class="collapse list-unstyled" id="pageDor">
        <li>
          <a routerLink="/dor/captura" (click)="setModule('Dirección  Orientada a Resultados')">Captura</a>
        </li>
        <li>
          <a routerLink="/dor/evaluacion">Consulta/Evaluación</a>
        </li>
        <li>
          <a routerLink="/dor/objetivos">Aceptar objetivos
          </a>
        </li>
      </ul>
    </li>

    <br>

    <li routerLinkActive="active"
      *ngIf="rol == 'nom' || rol == 'it' || rol == 'admfin' || rol == 'admin' || rol == 'dev'">
      <!-- <a href="#pageFac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Facturación</a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Facturación.png" pTooltip="Facturación" />
        </div>
        <div class="justify-content-end">
          <a href="#pageFac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
        </div>
      </div>
      <ul class="collapse list-unstyled" id="pageFac">
        <li>
          <a routerLink="/facturacion/carga-cfdi" (click)="setModule('Facturación - Carga CFDI')">Carga CFDI
          </a>
        </li>
        <li>
          <a routerLink="/facturacion/nota-credito" (click)="setModule('Facturación - NC')">NC
          </a>
        </li>
        <li>
          <a routerLink="/facturacion/crp" (click)="setModule('Facturación - CRP')">CRP
          </a>
        </li>
        <li>
          <a (click)="setModule('Facturación')">Cancelar
          </a>
        </li>
      </ul>
    </li>

    <br>

    <li routerLinkActive="active" *ngIf="rol == 'nom' || rol == 'rh' || rol == 'it' || rol == 'eje' || rol == 'dev'">
      <!--  <a href="#pageAdministración" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administración
       </a> -->
      <div class="d-flex">
        <div class="mx-auto">
          <img src="../../assets/icons-menu/Gestión-Auditoria legal.png" pTooltip="Catalogos" />
        </div>
        <div class="justify-content-end">
          <a href="#pageAdministración" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
        </div>
      </div>
      <ul class="collapse list-unstyled" id="pageAdministración">
        <li>
          <a routerLink="/catalogos">Catalogos</a>
        </li>
        <!--  <li>
                <a href="#">Opción 2</a>
              </li>
              <li>
                <a href="#">Opción 3</a>
              </li> -->
      </ul>
    </li>

    <li>
      <!--  <a href="#">Services</a> -->
    </li>
    <li>
      <!-- <a href="#">Contact Us</a> -->
    </li>

    <li routerLinkActive="active" *ngIf="false">
      <a href="#pageUsers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">USUARIOS</a>
      <ul class="collapse list-unstyled" id="pageUsers">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="false">
      <a href="#pageCarga" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CARGA DE INFORMACIÓN</a>
      <ul class="collapse list-unstyled" id="pageCarga">
        <li>
          <a href="#">Opción 1</a>
        </li>
        <li>
          <a href="#">Opción 2</a>
        </li>
        <li>
          <a href="#">Opción 3</a>
        </li>
      </ul>
    </li>

  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <!--  <a href="#" class="download">Download code</a> -->
    </li>
    <li>
      <!-- <a href="#" class="article">article</a> -->
    </li>
  </ul>


</nav>
