<div class="content" style="margin:2%">
  <button type="button" class="btn btn-info"  [disabled]="isConsultaButons">Guardar</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-info"  [disabled]="isConsultaButons">Clear data</button>

  <br>
  <br>

  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Datos Generales">
      <div class="">
        <br>
        <div class="row">
          <div class="col-sm">
            <label for="email">Nombre:</label>
            <input type="text" class="form-control" maxlength="50" [(ngModel)]="empleadoModel.nombre" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">Apellido Paterno:</label>
            <input type="text" class="form-control" maxlength="50" [(ngModel)]="empleadoModel.apellido_paterno"
              [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">Apellido Materno:</label>
            <input type="text" class="form-control" maxlength="50" [(ngModel)]="empleadoModel.apellido_materno"
              [disabled]="isConsulta">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <label for="email">Estado Civil:</label>
            <p-dropdown
            [options]="catEstadoCivil"
            placeholder="Seleccionar un estado civil"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Fecha de Nacimiento:</label>
              <div class="col-12">
              <p-calendar [(ngModel)]="empleadoModel.fechaNacimiento" [showIcon]="true" [style]="{'width':'100%', 'display': 'inline-flex','height':'39px'}"
              dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
              </div>
          </div>
          <div class="col-sm">
            <label for="email">Tipo de Sangre:</label>
            <div class="form-outline" style="width: 100%;">
              <p-dropdown
              [options]="catTipoSangre"
              placeholder="Seleccione un tipo de sangre"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <label for="email">Sexo:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="Masculino"
                [(ngModel)]="empleadoModel.sexo" id="flexRadioDefault1" [disabled]="isConsulta">
              <label class="form-check-label" for="flexRadioDefault1">
                Masculino
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="Femenino"
                [(ngModel)]="empleadoModel.sexo" id="flexRadioDefault2" [disabled]="isConsulta">
              <label class="form-check-label" for="flexRadioDefault2">
                Femenino
              </label>
            </div>
          </div>
          <div class="col-sm">
            <label for="email">RFC:</label>
            <input type="text" class="form-control" maxlength="15" [(ngModel)]="empleadoModel.direccion" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">Tipo de persona:</label>
            <p-dropdown
            [options]="catTipoPersona"
              placeholder="Seleccione un tipo de persona"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="" maxlength="60" [(ngModel)]="empleadoModel.email" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">Telefono:</label>
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="empleadoModel.telefono" [disabled]="isConsulta">
          </div>
          <div class="col-sm">
            <label for="email">Celular:</label>
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="empleadoModel.kfc" [disabled]="isConsulta">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm">
            <label for="email">Curp:</label>
            <input type="text" class="form-control" maxlength="18" [(ngModel)]="empleadoModel.curp" [disabled]="isConsulta">
          </div>
          <div class="col-sm">

          </div>
          <div class="col-sm">

          </div>
        </div>
      </div>
    </p-accordionTab>
</p-accordion>

</div>
